﻿@using System.Collections.Generic;

@model IEnumerable<GiveMeSport.RssFeedConsumer.Services.Item>

@{
    ViewData["Title"] = "Give Me Sport - Latest 10 articles";
}

<div class="row">
    @foreach (var m in Model)
    {
        <div class="col-xs-12 col-md-3">@m.Title</div>
    }
</div>